.privacy__policy {
    h4 {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: #333333;
    }

    a,p {
        font-family: 'Figtree', sans-serif;
        font-size: 16px;
        font-weight: 500;
        color: #858585;
    }
}