<section class="bread__crumb">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h5 class="title">Home / Terms and condition</h5>
            </div>
        </div>
    </div>
</section>

<section class="block privacy__policy">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="heading">Our Terms and condition</h1>
                <!-- <h2 class="title">Lorem ipsum dolor sit amet.</h2> -->
                <div class="dash"><i class="fas fa-gift"></i></div>
            </div>
            <div class="col-12">
                <p class="txt">Welcome to Waw Balloons Decoration! These Terms of Service govern your use of our website
                    and services. By accessing or using our website, you agree to comply with these terms.
                </p>
            </div>
            <div class="col-12">
                <h4>Use of Our Services
                </h4>
                <p>You must be at least 13 years old to use our services. When using our website, you agree to provide
                    accurate and current information. You are responsible for maintaining the confidentiality of your
                    account credentials and for any activity that occurs under your account.
                </p>
            </div>
            <div class="col-12">
                <h4>Intellectual Property</h4>
                <p>All content and materials available on our website, including but not limited to text, graphics,
                    logos, images, and software, are the property of [Your Company Name] and protected by copyright
                    laws. You may not use, reproduce, distribute, or modify any content without our express written
                    consent.
                </p>
            </div>
            <div class="col-12">
                <h4>User Conduct
                </h4>
                <p>You agree not to engage in any activity that may:
                </p>
                <ul>
                    <li>
                        <p>Infringe upon the rights of others
                        </p>
                    </li>
                    <li>
                        <p>Violate any laws or regulations
                        </p>
                    </li>
                    <li>
                        <p>Disrupt the functioning of our website
                        </p>
                    </li>
                    <li>
                        <p>Attempt to gain unauthorized access to our systems
                        </p>
                    </li>
                </ul>
            </div>
            <div class="col-12">
                <h4>Limitation of Liability</h4>
                <p> Waw Balloons Decoration is not liable for any direct, indirect, incidental, or consequential damages
                    arising out of your use or inability to use our website or services. We strive to provide accurate
                    and reliable information but do not warrant that our content is error-free or up-to-date.
                </p>
            </div>
            <div class="col-12">
                <h4>Third-Party Links
                </h4>
                <p>Our website may contain links to third-party websites or services. We do not endorse or take
                    responsibility for the content or practices of these third-party sites. Your interactions with these
                    sites are subject to their terms and policies.
                </p>
            </div>
            <div class="col-12">
                <h4>Changes to Terms
                </h4>
                <p>We reserve the right to modify or update these Terms of Service at any time. Any changes will be
                    effective immediately upon posting on our website. Your continued use of our services after changes
                    indicate your acceptance of the updated terms.</p>
            </div>
            <!-- <div class="col-12">
                <h4>Information</h4>
                <p>We</p>
            </div> -->
        </div>
    </div>
</section>