<section class="bread__crumb">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <h2 class="title">Home / Abouts us</h2>
      </div>
    </div>
  </div>
</section>

<section class="block aboutus">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="heading">About us</h1>
        <h2 class="title">We plan your Imagination</h2>
        <div class="dash"><i class="fas fa-gift"></i></div>
      </div>
      <div class="col-12 col-lg-6">
        <img loading="lazy" src="assets/dmo.jpg" alt="about us image kids birthday celebration" class="img-fluid mb-3">
      </div>
      <div class="col-12 col-lg-6 mb-auto">
        <p class="text-muted"><b class="fs-5">W</b>elcome to w@w balloon decoration. W@W is one of the best balloon
          decorator in Mumbai. We have a lot of unique decorations available. We use high quality normal as well as
          metallic balloons.
        </p>
        <p class="text-muted">We do decorations for different occasions like birthday party, anniversary, honeymoon
          special decoration, surprise decor for Girlfriend / Boyfriend, Baby shower, etc.
        </p>
        <p class="text-muted">We also give service of DJ, Tattoo artist, Photographer, Mascot, Magician, etc</p>
        <p class="text-muted ">We decorate everything from Party halls/ Banquets to your home.
        </p>
        <p class="text-muted ">Our aim is to give service as per customer's specifications ( Customised) decoration in
          the best possible manner on time.</p>
        <!-- <a href="javascript:void(0)" class="text-decoration-none icon">Read More</a> -->
      </div>
    </div>
  </div>
</section>

<section class="block ourclient">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h1 class="heading">How it works</h1>
        <h2 class="title">Get doorstep services by just calling our customer service team.</h2>
        <div class="dash"><i class="fas fa-gift"></i></div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
        <i class="fas fa-hotel icon fs-3 my-3"></i>
        <h5 class="title">Find the perfect venue</h5>
        <p class="text-muted">Find the perfect venue that suits your event theme and size.</p>
        <div class="number"><span>1</span></div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
        <i class="fas fa-comments icon fs-3 my-3"></i>
        <h5 class="title">Connect with Waw Balloon Decoration</h5>
        <p class="text-muted">Connect with us to discuss your ideas, preferences, and requirements.</p>
        <div class="number"><span>2</span></div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
        <i class="fas fa-handshake icon fs-3 my-3"></i>
        <h5 class="title">Let us help you with the event</h5>
        <p class="text-muted">Allow our expert team to assist you with planning and coordination.</p>
        <div class="number"><span>3</span></div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 text-center">
        <i class="fas fa-glass-cheers icon fs-3 my-3"></i>
        <h5 class="title">Enjoy the party</h5>
        <p class="text-muted">Enjoy the party while we bring your vision to life!</p>
        <div class="number"><span>4</span></div>
      </div>
    </div>
  </div>
</section>


<section class="block why__choose_us">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 text-center mb-3">
        <h1 class="heading">Why Choose Us</h1>
        <!-- <h2 class="title">Lorem ipsum dolor sit amet.</h2> -->
        <div class="dash"><i class="fas fa-gift"></i></div>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
        <div class="img-icon text-center mb-3">
          <img loading="lazy" src="assets/icons/ballons.svg" width="65" alt="why choose vector icon image"
            class="img-fluid">
        </div>
        <h5 class="title">Wide variety of ballons collection</h5>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
        <div class="img-icon text-center mb-3">
          <img loading="lazy" src="assets/icons/ballons.svg" width="65" alt="why choose vector icon image"
            class="img-fluid">
        </div>
        <h5 class="title">Wide variety of ballons collection</h5>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
        <div class="img-icon text-center mb-3">
          <img loading="lazy" src="assets/icons/ballons.svg" width="65" alt="why choose vector icon image"
            class="img-fluid">
        </div>
        <h5 class="title">Wide variety of ballons collection</h5>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-5">
        <div class="img-icon text-center mb-3">
          <img loading="lazy" src="assets/icons/ballons.svg" width="65" alt="why choose vector icon image"
            class="img-fluid">
        </div>
        <h5 class="title">Wide variety of ballons collection</h5>
      </div>
    </div>
  </div>
</section>