<header>
  <div class="navbar nav-logo bg-dark">
    <div class="container">
      <div class="navbar-brand mx-auto">
        <img loading="lazy"src="assets/logo/main-logo-png-wide.png" width="200" alt="logo" class="img-fluid">
      </div>
      <button class="navbar-toggler navbar-toggler-icon" type="button" id="responsiveBtn" data-bs-toggle="collapse"
        data-bs-target="#navcollapsewowballon" aria-controls="navcollapsewowballon" aria-expanded="false"
        aria-label="Toggle navigation">
      </button>
    </div>
  </div>

  <nav class="navbar navbar-expand-md">
    <div class="container">
      <!-- <a class="navbar-brand" href="javascript:void(0)">Navbar</a> -->
      <!-- -->
      <div class="collapse navbar-collapse" id="navcollapsewowballon">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item" [ngClass]="global.activeTab == 'home'?'active':''">
            <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('home')">Home</a>
          </li>
          <li class="nav-item nav-span">
            <span>•</span>
          </li>
          <li class="nav-item" [ngClass]="global.activeTab == 'about-us'?'active':''">
            <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('about-us')">About us</a>
          </li>
          <li class="nav-item nav-span">
            <span>•</span>
          </li>
          <li class="nav-item" [ngClass]="global.activeTab == 'gallery'?'active':''">
            <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('gallery')">Gallery</a>
          </li>
          <li class="nav-item nav-span">
            <span>•</span>
          </li>
          <li class="nav-item" [ngClass]="global.activeTab == 'services'?'active':''">
            <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('services')">Services</a>
          </li>
          <li class="nav-item nav-span">
            <span>•</span>
          </li>
          <li class="nav-item" [ngClass]="global.activeTab == 'contact-us'?'active':''">
            <a class="nav-link" href="javascript:void(0)" (click)="navigateTo('contact-us')">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>