<section class="page_not_found">
    <div class="container  ">
        <div class="row  h-100 justify-content-center">
            <div class="col-10 text-center">
                <h1 class="heading m-0 text-dark">Oops!</h1>
                <img loading="lazy"src="assets/images/404__wow_ballon.png" alt="error 404 page not found" class="img-fluid mt-3">
                <h2 class="title">Looks like this page doesn't exist.</h2>

                <a href="javascript:void(0)" class="mt-4 icon" routerLink="/home"> Back to Home Page</a>
            </div>
        </div>
    </div>
</section>