<section class="bread__crumb">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <h5 class="title">Home / Privacy Policy</h5>
      </div>
    </div>
  </div>
</section>

<section class="block privacy__policy">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="heading">Our Privacy Policy</h1>
        <!-- <h2 class="title">Lorem ipsum dolor sit amet.</h2> -->
        <div class="dash"><i class="fas fa-gift"></i></div>
      </div>
      <div class="col-12">
        <p class="txt">At Waw Balloons Decoration, we prioritize the privacy and security of our users. This Privacy
          Policy outlines the information we collect, how we use it, and the choices you have concerning your data.
        </p>
      </div>
      <div class="col-12">
        <h4>Information Collection and Use
        </h4>
        <p>We may collect personal information such as name, email address, and contact details when you interact with
          our website or services. This information is used to improve our services, communicate with you, and
          personalize your experience.</p>
      </div>
      <div class="col-12">
        <h4>Data Sharing and Disclosure
        </h4>
        <p>We do not sell, trade, or rent your personal information to third parties. However, we may share data with
          trusted service providers or partners to assist us in delivering our services. We ensure that these entities
          adhere to strict confidentiality and data protection standards.
        </p>
      </div>
      <div class="col-12">
        <h4>Data Security
        </h4>
        <p>We implement security measures to safeguard your personal information against unauthorized access,
          alteration, disclosure, or destruction. Despite our efforts, no method of transmission over the internet or
          electronic storage is entirely secure. Therefore, we cannot guarantee absolute security.</p>
      </div>
      <div class="col-12">
        <h4>Changes to this Policy
        </h4>
        <p>We reserve the right to update this Privacy Policy periodically. We encourage you to review this page for any
          changes. Your continued use of our website after modifications indicates your acceptance of the updated
          Privacy Policy.
        </p>
      </div>
      <div class="col-12">
        <h4>Contact Us
        </h4>
        <p>If you have any questions or concerns regarding this Privacy Policy or the handling of your data, please
          contact us at <a href="mailto:wawballoonsdecoration@gmail.com ">wawballoonsdecoration@gmail.com</a>.
        </p>
      </div>
      <!-- <div class="col-12">
        <h4>Information</h4>
        <p>We</p>
      </div> -->
    </div>
  </div>
</section>