<section class="bread__crumb">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-12 my-auto">
                <h5 class="title">Home / Services</h5>
            </div>
        </div>
    </div>
</section>

<section class="block services__list">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="heading">Our Services</h1>
                <h2 class="title">Welcome to w@w Balloons
                </h2>
                <div class="dash"><i class="fas fa-gift"></i></div>
            </div>
            <div class="col-12 col-lg-6 my-auto">
                <img loading="lazy"src="assets/images/party__bg.png" alt="our service kids birthday celebration vector image"
                    class="img-fluid mt-3">
            </div>
            <div class="col-12 col-lg-6">
                <p class="text-muted"><b class="fs-5">W</b>elcome to waw Balloons We provide a lot of services as per your requirement like birthday party , baby shower,
                    Anniversaries, welcome baby, bride and groom to be decor, surprise party, proposal decor.
                    We are having an experience if 15 years. We are always there for making your moment special.
                </p>
                <p class="text-muted"> The belief that customer satisfaction is as important as their products and services, have helped this establishment garner a vast base of customers, which continues to grow by the day.We have some ideas that might help you.
                </p>
                <p class="text-muted">A simple birthday party with birthday balloons that can be made high and rich in the presentation.
                    We have many packages that include many add-ons that may come handy to make the event more appealing.</p>
            </div>
        </div>
    </div>
</section>

<section class="block sm__banner">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-6 text-center">
                <h1 class="heading">See our best event gallery!</h1>
                <!-- <h2 class="title">Lorem ipsum dolor sit amet.</h2> -->
                <div class="dash"><i class="fas fa-gift"></i></div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-6 my-auto text-end">
                <button class="btn btn-primary button" (click)="navigateTo('gallery','gallery')">View Gallery</button>
            </div>
        </div>
    </div>
</section>

<section class="block service__category">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h1 class="heading">We do everything</h1>
                <h2 class="title">Get doorstep services by just calling our customer service team.</h2>
                <div class="dash"><i class="fas fa-gift"></i></div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="text-center" (click)="navigateTo('birthday-decorations','services')">
                    <img loading="lazy"src="assets/icons/birthday__decor.png" alt="we do everything vector icon"
                        class="img-fluid my-3">
                    <h5 class="head">Birthday Decorations</h5>
                    <p class="txt">Magical decor for unforgettable birthdays and joyous celebrations.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="text-center" (click)="navigateTo('baby-shower-themes','services')">
                    <img loading="lazy"src="assets/icons/baby__shower.png" alt="we do everything vector icon" class="img-fluid my-3">
                    <h5 class="head">Baby Shower Themes</h5>
                    <p class="txt">Adorable themes for cherished baby showers and heartwarming moments.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="text-center" (click)="navigateTo('anniversary-celebrations','services')">
                    <img loading="lazy"src="assets/icons/anniversary__decor.png" alt="we do everything vector icon"
                        class="img-fluid my-3">
                    <h5 class="head">Anniversary Celebrations</h5>
                    <p class="txt">Romantic setups for celebrating enduring love and special milestones.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="text-center" (click)="navigateTo('other-events','services')">
                    <img loading="lazy"src="assets/icons/other__decoration.png" alt="we do everything vector icon"
                        class="img-fluid my-3">
                    <h5 class="head">Other Events</h5>
                    <p class="txt">Versatile decorations for any occasion, making every event extraordinary.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="block apart__list border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="heading">Service Includes</h1>
                <h2 class="title">A partial list of our services includes</h2>
                <div class="dash"><i class="fas fa-gift"></i></div>
            </div>

            <div class="col-12 col-lg-6 col-xl-5 order-2 order-lg-1">
                <div class="row">
                    <div class="col-1 p-0">
                        <i class="fas fa-check me-2 icon"></i>
                    </div>
                    <div class="col p-0">
                        <p>We do every type of balloon decor for making your moment special.</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-xl-7 order-1 order-lg-2 mb-auto">
                <img loading="lazy"src="assets/images/servicez__list.png" alt="service include list vector image"
                    class="img-fluid mb-3">
            </div>
        </div>
    </div>
</section>